<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: Rye">The Saloon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupyeportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_list' %}"><i class="fa-2x fa-solid fa-list"></i></a>
        </li>
        {% if user.is_authenticated %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' request.user.id %}"><i class="fa-2x fa-regular fa-address-card"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa-2x fa-solid fa-right-from-bracket"></i></a>
        </li>
        {% else %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><i class="fa-2x fa-regular fa-registered"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><i class="fa-2x fa-solid fa-right-to-bracket"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <script src="https://kit.fontawesome.com/1c9e9f31ac.js" crossorigin="anonymous"></script>