<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#B3874E">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: Rye, serif;">The Saloon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_list' %}"><i class="fa-lg fa-solid fa-list"></i></a>
        </li>
        {% if user.is_authenticated %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' request.user.id %}"><i class="fa-lg fa-regular fa-address-card"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_upload' %}"><i class="fa-lg fa-regular fa-image"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa-lg fa-solid fa-right-from-bracket"></i></a>
        </li>
      
        {% else %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><i class="fa-lg fa-solid fa-right-to-bracket"></i></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        
      </ul>
      
      </div>
    </div>
  </div>
</nav>

 