{% load static %}
<nav class="navbar navbar-expand-lg navbar-light navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">The Saloon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'profile_list' %}"><i class="fa-lg fa-solid fa-list"></i></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'profile' request.user.id %}"><i class="fa-lg fa-regular fa-address-card"></i></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'upload_image' %}"><i class="fa-lg fa-regular fa-image"></i></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa-lg fa-solid fa-right-from-bracket"></i></a>
        </li>
      
        {% else %}
        
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i></a>
        </li>
        
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'login' %}"><i class="fa-lg fa-solid fa-right-to-bracket"></i></a>
        </li>
       
        {% endif %}
        
      </ul>

      {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-link navbar-brand">
            {% if profile.profile_image %}
            <a href="{% url 'profile' request.user.id %}">
              <img src="{{ user.profile.profile_image.url }}" class="rounded-circle"
               width="40" height="40" alt="profile_image"></a>
               {% else %}
            <a href="{% url 'profile' request.user.id %}">
              <img src="{% static 'images/cowboy.png' %}" height="40" width="40" class="rounded-circle"
              alt="profile_image"></a>
              {% endif %}
            
          </li>
        </ul>
      {% endif %}
      
    </div>
  </div>
</nav>
