{% extends 'base.html' %}
{% load static %}

{% block content %}




  <h1 class="list">Profile's</h1>
  
    {% if profiles %}
    {% for profile in profiles %}
<div class="list-container col-md-12">
  <div class="cont">
    <div class="container">
      <div class="list-card">
        <h5 class="card-title"><a href="{% url 'profile' profile.user.id  %}">
          {{ profile.user.username }}</a>'s Profile</h5>
                {% if profile.profile_image %}
                  <img class="list" src="{{ profile.profile_image.url }}" 
                  width=200 height=200 class="img rounded-circle" 
                  alt="{{ profile.user.username}}">
                {% else %}
                <img class="list" src="{% static 'images/cowboy.png' %}" height="150"
                width="150" class="profile rounded-circle" height: auto; alt="profile_image">
                {% endif %}
              <p class="list card-text"><small class="text-muted">
              Last Updated: {{ profile.date_modified }}</small></p>
      </div>
    </div>
  </div>  
</div>

{% endfor %}

{% endif %}


{% endblock %}