{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if profile %}


<h1 class="profil text-center">{{ profile.user.username }}'s Profile</h1>
<div class="container-fluid">
  <div class="row">
      <!-- Container 1 -->
    <div id="profile-bio" class="col-xs-12 col-sm-12 col-md-3 order-md-3 text-center px-3 px-md-0">
          <div class="container1 mx-auto">
            <div class="image d-flex flex-column justify-content-center align-items-center">
      {% if profile.profile_image %}
      <img src="{{ profile.profile_image.url }}" height="100" width="100" class="profile rounded-circle"
        alt="profile_image">
      {% else %}
      <img src="{% static 'images/cowboy.png' %}" height="100" width="100" class="profile rounded-circle"
        alt="profile_image">
      {% endif %}
      <span class="name mb-4">
        {{ profile.user.username }}'s Profile
      </span>

      {% if profile.profile_bio %}
      <div class="bio">
        <span>
        {{ profile.profile_bio}}
        </span>
      </div>
      {% endif %}
      <div class="gap-3 mb-3 icons d-flex flex-row justify-content-center align-items-center">

        {% if profile.facebook_link %}
        <a href="{{ profile.facebook_link }}" target="new">
          <i class="face fa-2x fa-brands fa-facebook"></i></a>
        {% endif %}
        &nbsp;&nbsp;
        {% if profile.instagram_link %}
        <a href="{{ profile.instagram_link }}" target="new"><i class="inst fa-2x fa-brands fa-instagram"></i></a>
        {% endif %}
        &nbsp;&nbsp;
        {% if profile.linkedin_link %}
        <a href="{{ profile.linkedin_link }}" target="new"><i class="link fa-2x fa-brands fa-linkedin"></i></a>
        {% endif %}
        &nbsp;&nbsp;
        {% if profile.youtube_link %}
        <a href="{{ profile.youtube_link }}" target="new"><i class="you fa-2x fa-brands fa-youtube"></i></a>
        {% endif %}
        &nbsp;&nbsp;
        {% if profile.x_link %}
        <a href="{{ profile.x_link }}" target="new"><i class="x fa-2x fa-brands fa-x-twitter"></i></a>
        {% endif %}
      </div>
      <h5 class="follow">Follows</h5>
        <p class="card-text">
        {% for following in profile.follows.all %}
            {% if following.user.id != user.id %}
                <a href="{% url 'profile' following.user.id %}">{{ following }}</a><br/>
            {% endif %}
        {% endfor %}
        </p>
        <h5 class="follow">Followers</h5>
        <p class="card-text">
        {% for following in profile.followed_by.all %}
            {% if following.user.id != user.id %}
                <a href="{% url 'profile' following.user.id %}">{{ following }}</a><br/>
            {% endif %}
        {% endfor %}
        </p>

        <form method="POST">
          {% csrf_token %}
          {% if profile.user != request.user %}
              {% if profile in user.profile.follows.all %}
              <button class="btn-profile btn-outline" name="follow" value="unfollow" type="submit">
                Unfollow {{ profile.user.username|lower }}
              </button>
              {% else %}
              <button class="btn-profile btn-outline" name="follow" value="follow" type="submit">
                Follow {{ profile.user.username|lower }}
              </button>
              {% endif %}
          {% endif %}
        </form>
        <br/><br/>
        {% if request.user.id == profile.user.id %}
        <button class="btn-profile btn-outline">
          <a class="edit" href="{% url 'update_user' %}">Edit Profile</a>
        </button>
        {% endif %}
      </form>
      <form action="{% url 'delete_profile' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Profile</button>
      </form>
    </div>
          </div>
      </div>
      <!-- Container 2 -->
      <div class="col-xs-12 col-sm-12 col-md-8 order-md-1 text-center">
          <div class="container2 mx-auto">
            {% if shouts%}
            {% for shout in shouts %}
              <div class="alert" role="alert">
                  {{ shout.body }}<br/><br/>
                  <small class="text-muted">
                      {{ shout.created_at }}
                      <br/>
                      By {{ shout.user.username }}
                      <br/>
                      {{ shout.number_of_likes }} Likes
                      &nbsp;&nbsp;
                      {% if user != shout.user %}
                          {% if user in shout.likes.all %}
                              <a href="{% url 'shout_like' shout.id %}">
                                  <i class="fa-lg fa-solid fa-heart" style="color: black;"></i></a>
                          {% else %}
                              <a href="{% url 'shout_like' shout.id %}">
                                  <i class="fa-lg fa-solid fa-heart" style="color: red;"></i></a>
                          {% endif %}
                      {% endif %}
      
                {% if request.user.username == profile.user.username %}
                &nbsp;&nbsp;
                <a href="{% url 'delete_shout' shout.id %}"><i class="fa-lg fa-regular fa-trash-can"
                    style="color:black"></i></a>
                &nbsp;&nbsp;
                <a href="{% url 'edit_shout' shout.id %}"><i class="fa-lg fa-regular fa-pen-to-square"
                    style="color:black"></i></a>
                {% endif %}
      
              </small>
            </div>
            {% endfor %}
            {% endif %}
          </div>
      </div>
  </div>
</div>


{% endif %}

{% endblock %}