{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="list">Profile's</h1>

{% if profiles %}
<div class="row container-fluid">
{% for profile in profiles %}
<div class="list-container col-12 col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
 <div class="cont">
    <div class="container list">
      <div class="list-card d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title"><a href="{% url 'profile' profile.user.id %}">
          {{ profile.user.username }}</a>'s Profile</h5>
          {% if profile.profile_image %}
          <a href="{% url 'profile' profile.user.id %}">
              <img class="list img rounded-circle" src="{{ profile.profile_image.url }}" 
              alt="{{ profile.user.username}}">
          </a>
          {% else %}
          <a href="{% url 'profile' profile.user.id %}">
              <img class="list profile rounded-circle" src="{% static 'images/cowboy.png' %}"
              alt="profile_image">
          </a>
          {% endif %}
          <p class="list card-text"><small class="text-muted">
          Last Updated: {{ profile.date_modified }}</small></p>
      </div>
    </div>
 </div>  
</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}






