{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="update text-center">Update profile</h1>
            <form method="POST" class="edit" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                <br/>
                {{ profile_form.as_p }}
                <button type="submit" class="btn-update">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


