{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-8">
            <h2 style="font-family: Rye, serif;">{{ user.username }}'s Gallery</h2>
            <br/>

            <form method="post" style="font-family: Rye, serif;" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-8">
        <h3 style="font-family: Rye, serif;">Uploaded Images:</h3>
        <ul style="list-style-type: none;">
         {% for image in images %}
             <li><img src="{{ image.image.url }}" style="width:200px; height:200px" class="img-fluid mb-3" alt="Uploaded Image"></li>
         {% empty %}
              <li>No images uploaded yet.</li>
         {% endfor %}
        </ul>
        </div>
    </div>
</div>
    
{% endblock %}
