{% extends 'base.html' %}

{% block content %}

<div class="gallery-container">
 <div class="gallery-item col-md-8">
     <div class="row gallery">
      {% for image in images %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mx-auto">
          <img src="{{ image.image.url }}" class="gallery" alt="Uploaded Image">
          <form method="post" action="{% url 'delete_image' image.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </div>
  {% empty %}
      <div class="col-md-12">
          No images uploaded yet.
      </div>
  {% endfor %}
     </div>
 </div>
 <div class="upload-img col-md-3 position-relative">
    <div class="card-gallery position-absolute">
      <div class="card-body">
        <h5 class="card-title">Upload Images</h5>
        <form method="post" enctype="multipart/form-data" class="text-center img-fluid">
          <p class="card-text d-none d-md-block">
              {% csrf_token %}
              {{ form.as_p }}</p>
              <button class="upload" type="submit">Upload</button>
        </form>
      </div>
    </div>
 </div>
</div>

{% endblock %}
