{% extends 'base.html' %}

{% block content %}


<div class="gallery-container">
  <div class="gallery-item col-md-8">
    {% for image in images %}
    <img src="{{ image.image.url }}"
    class="gallery" alt="Uploaded Image">
    {% empty %}            
      No images uploaded yet.
    {% endfor %}
  </div>
  <div class="upload-img col-md-4">
    <div class="card-gallery">
      <div class="card-body">
        <h5 class="card-title">Upload Images</h5>
        <form method="post" enctype="multipart/form-data" class="text-center img-fluid">
          <p class="card-text d-none d-md-block">
              {% csrf_token %}
              {{ form.as_p }}</p>
              <button class="upload" type="submit">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}