 /* base */

body {
  background-color: #E2D4A6;
  margin-bottom:  80px;
}

div.container {  
  display: flex;
}

h1.home {
  color: black;
  margin-top: 70px; 
}

div.home {
  margin-top: 90px;
}

div.alert {
  background-color: #FFF3CD;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
}

div.head-alert {
  position: static;
  background-color: #FFF3CD;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  height: 40px;
  width: auto;
  text-align: center; /* Horizontally center the text */
  line-height: 40px;
  font-weight: bold; /* Make the text bold */
  font-size: 1.5em;
}
 

button.btn {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
}

button.btn:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}


/* navbar*/

a.navbar-brand {
  color: black;
}

nav.navbar {
  background-color: #714B3C;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.2);
}



/* footer */

footer.footer {
  width: 100%;
  background-color: #714B3C;
  color:black;
  box-shadow:  0 -3px  10px  10px rgba(0,  0,  0,  0.2);
  position: fixed;
  bottom: 0;
  flex:  0  0  50px;
}

/* login */

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(20px 20px 3px rgba(0, 0, 0, 0.5));
  max-width: 800px;
  max-height: 800px; 
  overflow: hidden;
}

.image-container img {
  max-width: 80%; 
  height: auto; 
  margin: auto; 
}

/* gallery */
h1.gallery {
  color: black;
  margin-bottom: 20px; 
  margin-top: 70px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  margin-top: 60px;
  flex:  1  0 calc(33.333% -  10px);
  margin-bottom:  10px;
}

.gallery-item img {
  width:  200px;
  height: 200px;
  padding: 10px;
  border-radius:  2rem;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  margin: auto;
}


div.card-gallery{
  background-color: #FFF3CD;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  width: 200px;
  height: 200px;
}

button.upload {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
}

button.upload:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}

#id_image {
  background-color: #FFF3CD;
  border: none;
  width: 110px;
  
}

/* profile */

div.col-md-8 {
 display:grid;
 align-items: center;
 justify-content: center;
}

h1.profile {
  color: black;
  margin-bottom: 20px; 
  margin-top: 70px;
}

div.profile-col {
  text-align: center;
  display: flex;
}

div.alerted {
  display: flex;
  background-color: #FFF3CD;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-radius: 2rem;
  width: 500px;
  height: 200px;
  margin-bottom: 20px;
  padding-top: 20px;
  flex-direction: column;
}

div.profile-bio {
  text-align: center;
  background-repeat: no-repeat;
  background-position:  50%  50%;
  background-size: cover;
  width: 250px;
  height: 750px;
  background-color: #FFF3CD;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
}

.row {
  margin-right:  0 !important;
}

div.bio {
  text-align: center;
  padding: 10px;
}

img.profile {
  margin-top: 20px;
  margin-bottom: 20px;
}

p.card-text {

}

span.name {
  color: black;
  text-decoration: underline;
}

small.text-muted {
  margin-top: 20px;
}

h5.follow {
  color: black;
  text-decoration: underline;
}

button.btn-profile {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  color: black;
}

button.btn-profile:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}

a.edit {
  color: black;
}

i.face:hover {
  color: #1877F2;
  transition: background-color  0.4s ease;
}

i.inst:hover {
  color: #833AB4;
  transition: background-color  0.4s ease;
}

i.link:hover {
  color: #0077B5;
  transition: background-color  0.4s ease;
}

i.you:hover {
  color: #FF0000;
  transition: background-color  0.4s ease;
}

i.x:hover {
  color: #000000;
  transition: background-color  0.4s ease;
}

/* profile list */

h1.list {
  text-align: center;
  margin-top: 70px;
  color: black;
}

div.cont {
  display: flex;
  width: 400px;
  height: 300px;
  columns: 2;
  flex-direction: row;
  justify-content: space-between;
}

div.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.list-card {
  text-align: center;
  flex:  1;
  width: 280px;
  height: 280px;
  padding:  20px;
  margin:  10px;
  background-color:#FFF3CD;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius: 2rem;
}

img.list {
  width: 150px;
  height: 150px;
}

p.list {
  margin-top: 10px;
}

/*edit profile */

button.btn-update, button.btn-register {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  color: black;
  display: block;
  margin: auto;
}

button.btn-update:hover, button.btn-register:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}

/* update,register form */

h1.update, h1.register {
  color: black;
  margin-top: 70px;
  text-align:center
  
}
#id_username.form-control {
  background-color: #FFF3CD;
  border: none;
  border-radius: 2rem;
  max-width: 400px;
  display: block;
  margin: auto;
  color: black;
  margin-top: 30px;
}

#id_first_name.form-control, #id_last_name.form-control,
#id_email.form-control, #id_email.form-control,
#id_password1.form-control, #id_password2.form-control,
#id_profile_bio.form-control {
  background-color: #FFF3CD;
  border: none;
  border-radius: 2rem;
  max-width: 400px;
  display: block;
  margin: auto;
  color: black;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
} 

#id_facebook_link.form-control, #id_instagram_link.form-control, 
#id_linkedin_link.form-control, #id_youtube_link.form-control,
#id_x_link.form-control {
  background-color: #FFF3CD;
  border: none;
  border-radius: 2rem;
  max-width: 400px;
  display: block;
  margin: auto;
  color: black;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}

h1.login {
  color: black;
  margin-top: 70px;
  text-align:center
}

input.form-control {
  background-color: #FFF3CD;
  border: none;
  border-radius: 2rem;
  max-width: 400px;
  display: block;
  margin: auto;
  color: black;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}

button.btn-login {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  color: black;
  display: block;
  margin: auto;
  margin-top: 30px;
}

button.btn-login:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}

div.card-login {
  width: 500px;
  display: block;
  margin: auto;
  margin-top: 100px;
  background-color: #FFF3CD;
  color: black;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
}

/* edit shout */

h1.edit-shout {
  color: black;
  text-align: center;
  margin-top: 70px;
}

div.cont-edit-shout {
  justify-content: center;
  display: flex;
}

div.text-edit {
  background-color:#FFF3CD;
  color: black;
  background-color: #FFF3CD;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

button.btn-edit-shout {
  background-color:#B3874E;
  border: none;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
  border-radius:  2rem;
  color: black;
  display: block;
  margin: auto;
  margin-top: 30px;
}

button.btn-edit-shout:hover {
  background-color: #A07445;
  transition: background-color  0.4s ease;
}

#id_body.form-control {
  background-color: #FFF3CD;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}



@media (max-width:  600px) {
  .gallery-item {
      flex:  1  0 calc(50% -  10px);
      
  }
}

@media (max-width:  600px) {
  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .image-container img {
     max-width: 80%; /* Make the image full width on smaller screens */
  }
 }

 @keyframes fadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}

.head-alert {
 animation: fadeOut 4s linear forwards;
}